.pokemonContainer{
    width: 100%;
    margin-top: 70px;
    text-align: center;
}
.pokemonContainer>div{
    margin: auto;
    width: 32%;
}
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .pokemonContainer .imageContainer:hover {
    transform: scale(1.1);
  }
  
  .pokemonContainer .imageContainer {
    transition: transform 0.3s ease-in-out;
  }
  

@media (max-width: 412px) {
    .pokemonContainer>div{
        margin: auto;
        width: 90%;
    }
}